[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
linkml-runtime = ">=0.1.1.dev1"
pytest = "*"
mkdocs = "*"

[dev-packages]
tox = "*"

[pipenv]
allow_prereleases = true
